@model AutoSite.Core.Entities.SiteContent

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="input-group">
    <span class="input-group-addon">Add Site: </span>
    <input asp-for="Name" class="form-control" />
    <span class="input-group-btn">
        <input type="submit" value="Add" class="btn btn-success col-sm" />
    </span>
</div>
<span asp-validation-for="Name" class="text-danger"></span>
