@model AutoSite.Core.Entities.ClassItem

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input asp-for="SiteContentId" type="hidden" />

<div class="input-group">
    <span class="input-group-addon">Add Page: </span>
    <input asp-for="Name" class="form-control" />
    <span class="input-group-btn">
        <input type="submit" value="Add" class="btn btn-success col-sm" />
    </span>
</div>
<span asp-validation-for="Name" class="text-danger"></span>
