@model AutoSite.Core.Entities.SiteContent
@{
    ViewBag.Title = "Manage site";
    var mData = new Dictionary<string, string> { { "id", Model.Id.ToString() } };
}
<div>
    <h2>@Model.Name</h2>
    <hr />
</div>


<div class="row" style="margin: 12px">
    <a class="btn btn-warning btn-lg" asp-action="Edit" asp-all-route-data="mData">Edit</a>
    <a class="btn btn-danger btn-lg" asp-action="Delete" asp-all-route-data="mData">Delete</a>
</div>

<div class="panel-group">

    <h4>Pages</h4>

    @foreach (var c in Model.ClassItems)
    {
        var data = new Dictionary<string, string> { { "id", c.Id.ToString() } };
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a style="color:white; font-size:20px;" data-toggle="collapse" href="#class-content-@c.Id">@c.Name</a>
            </div>

            <div id="class-content-@c.Id" class="panel-body collapse in">

                <h4>Fields</h4>

                <br />
                <br />

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Field name</th>
                            <th>Type</th>
                            <th>Options</th>
                        </tr>
                    </thead>

                    @foreach (var p in c.Properties)
                    {
                        var pdata = new Dictionary<string, string> { { "id", p.Id.ToString() } };
                        <tr>
                            <td>@p.Name</td>
                            <td>@p.DataType</td>
                            <td class="text-right">
                                <a class="btn btn-warning btn-sm" asp-action="EditPropertyItem" asp-all-route-data="pdata">Edit</a>
                                <a class="btn btn-danger btn-sm" asp-action="DeletePropertyItem" asp-all-route-data="pdata">Delete</a>
                            </td>
                        </tr>
                    }

                </table>

                <form asp-action="ImportPropertyItems" enctype="multipart/form-data">
                    <partial name="_ImportClassPartial" model="new ImportClassItem { ClassId = c.Id }" />
                </form>
                <form asp-action="AddPropertyItem">
                    <partial name="_AddPropertyPartial" model="new PropertyItem { ClassItemId = c.Id }" />
                </form>

            </div>

            <div class="panel-footer">
                <a asp-action="EditClassItem" asp-all-route-data="data" class="btn btn-warning">Edit</a>
                <a asp-action="DeleteClassItem" asp-all-route-data="data" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }

</div>

<form asp-action="AddClassItem">
    <partial name="_AddClassPartial" model="new ClassItem { SiteContentId = Model.Id }" />
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}